<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
			<add key="connectionstring" value="User ID=sa;Data Source=.;Password=mycomm123;Initial Catalog=test;Provider=SQLOLEDB.1;" />
			<add key="ApiUri" value="11111" />
			<add key="ApiKey" value="" />
			<add key="DomainName" value="default" />
	</appSettings>
</configuration>